root=true

[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false

max_line_length=120

indent_size=2
indent_style=space

[*.{kt,kts}]
ij_kotlin_name_count_to_use_star_import=2147483647
ij_kotlin_name_count_to_use_star_import_for_members=2147483647
ij_kotlin_imports_layout=*,java.**,javax.**,kotlin.**,^
ij_kotlin_line_break_after_multiline_when_entry=false

[*.xml]
ij_continuation_indent_size=4
ij_xml_keep_line_breaks=true
ij_xml_space_inside_empty_tag=false