root=true

[*.{kt,kts}]
charset=utf-8
end_of_line=lf
insert_final_newline=false

max_line_length=120

indent_size=2
indent_style=space

ij_kotlin_name_count_to_use_star_import=2147483647
ij_kotlin_name_count_to_use_star_import_for_members=2147483647
ij_kotlin_imports_layout=*,java.**,javax.**,kotlin.**,^