<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.g00fy2.quickie">

  <uses-feature android:name="android.hardware.camera"/>

  <uses-permission android:name="android.permission.CAMERA"/>

  <application>

    <activity
        android:name=".QRScannerActivity"
        android:theme="@style/QuickieScannerActivity"/>
  </application>
</manifest>