name: Build

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  build:
    name: "Run ${{ matrix.task }}${{ matrix.flavor }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        task:
          - "detekt"
          - ":sample:lint"
          - ":sample:assemble"
        flavor:
          - "BundledDebug"
          - "UnbundledDebug"
        include:
          - task: "test"

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: "Setup Java & Gradle environment"
        uses: ./.github/actions/setup
      - name: "Execute Gradle task"
        run: ./gradlew ${{ matrix.task }}${{ matrix.flavor }}

  all-checks-passed:
    name: "Final Status Check"
    runs-on: ubuntu-slim
    if: always()
    needs: build
    steps:
      - name: "Validate Matrix results"
        run: |
          if [ "${{ needs.build.result }}" != "success" ]; then
            exit 1
          fi