name: Build

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  build:
    name: Run ${{ matrix.task }}${{ matrix.flavor }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        task:
          - "detekt"
          - ":sample:lint"
          - ":sample:assemble"
        flavor:
          - "BundledDebug"
          - "UnbundledDebug"
        include:
          - task: "test"

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup Java & Gradle
        uses: ./.github/actions/setup
      - name: Run gradle task
        run: ./gradlew ${{ matrix.task }}${{ matrix.flavor }}